@import "compass";
@import "compass/css3";
@import "compass/reset";
@import "partials/mixins";

$sans-serif: "helvetica neue", helvetica, arial, sans-serif;
$serif: adelle;

@include font-face("League Gothic", font-files("/fonts/League_Gothic.ttf", "/fonts/League_Gothic.eot", "/fonts/League_Gothic.svg", "/fonts/League_Gothic.woff"));

// styles start here

* {
  @include box-sizing(border-box);
}

html {
  @include background-size(cover);
  background: url(/images/golden-gate.jpg) no-repeat fixed center top;
}

h2 {
  font-size: 48px;
  line-height: 48px;
  color: #333;
  margin-bottom: 10px;
  font-family: "League Gothic";
}

h3 {
  font-size: 24px;
  line-height: 38px;
  color: #333;
  margin-bottom: 10px;
  font-family: Adelle;
}

p {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 20px;
  color: #666;
}

ul {
  margin-bottom: 15px;
  color: #666;
  padding-left: 20px;
  li {
    list-style-type: square;
    font-size: 16px;
    line-height: 28px;
  }
}

blockquote {
  font-family: palatino;
  color: #666;
  font-size: 24px;
  line-height: 30px;
  font-style: italic;
}

img { max-width: 100%; }

a {
  @include transition(all .2s);
  color: #06c;
  text-decoration: none;
  &:hover {
    background: #ffff86;
  }
}

header.main {
  @include background-image(linear-gradient(rgba(41,41,40,0.9), rgba(0,0,0,0.9)));
  @include box-shadow(inset 0 1px 1px rgba(255,255,255,0.1), 0 1px 2px rgba(0,0,0,0.35));
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  color: #999;
  font-family: $sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 20px;
  position: fixed;
  width: 100%;
  z-index: 4;
}

.wrapper {
  position: relative;
  z-index: 3;
}

.timeline {
  @include box-shadow(inset 0 0 4px rgba(0,0,0,0.5), 0 0 5px rgba(255,255,255,0.75));
  border-left: 1px solid rgba(0,0,0,0.35);
  border-right: 1px solid rgba(0,0,0,0.35);
  bottom: 0;
  left: 50%;
  margin-left: -4px;
  position: fixed;
  top: 0;
  width: 8px;
  z-index: 2;
  height: 100%;
}

.container {
  width: 960px;
  margin: 0 auto;
}

article {
  width: 600px;
  margin: 0 auto 50px;
}

section {
  @include box-styles;
  font-family: $serif;
  position: relative;
  padding-bottom: 20px;
  header {
    @include background-image(linear-gradient(#e2e2e2, #959595));
    @include box-shadow(inset 0 1px 0 rgba(255,255,255,1));
    @include section-tip;
    border: 1px solid #666;
    border-left: none;
    text-align: center;
    font-family: $sans-serif;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    height: 40px;
    line-height: 40px;
    left: 0;
    right: -1px;
    top: -1px;
    text-shadow: 0 1px 1px #fff;
    color: #666;
  }
  &.day {
    padding-top: 200px;
    background: #fff;
    &.one { background: #fff url(/images/maps/day-1.jpg) 0 0 no-repeat; }
    &.two { background: #fff url(/images/maps/day-2.jpg) 0 0 no-repeat; }
    &.three { background: #fff url(/images/maps/day-3.jpg) 0 0 no-repeat; }
    &.four { background: #fff url(/images/maps/day-4.jpg) 0 0 no-repeat; }
    &.five { background: #fff url(/images/maps/day-5.jpg) 0 0 no-repeat; }
    &.six { background: #fff url(/images/maps/day-6.jpg) 0 0 no-repeat; }
    img {
      @include inline-block;
      @include border-radius(8px);
      @include transition(all 0.2s);
      width: 100px;
      margin: 0 5px 10px 0;
      &:hover {
        @include transform(scale(2));
        @include box-shadow(0 0 0 1px #fff, 2px 2px 10px #000);
        cursor: pointer;
      }
    }
  }
}

.imageviewer {
  text-align: center;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 10000;
  display: none;
  cursor: pointer;
  img {
    @include box-shadow(0 0 0 1px #fff, 2px 2px 10px #000);
    max-width: 90%;
    max-height: 90%;
    margin-top: 75px;
  }
  span {
    display: block;
    background: rgba(0,0,0,0.9);
    color: #fff;
    position: absolute;
    width: 100%;
    top: 0;
    padding: 20px;
    font-family: $sans-serif;
  }
}

.date {
  @include border-radius(8px);
  position: absolute;
  top: 65px;
  padding: 10px;
  background: rgba(0,0,0,0.85);
  span { 
    display: block;
    font-family: $sans-serif;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    &.month { font-size: 12px; }
    &.day { font-size: 36px; }
  }
}

h2.day {
  @include background-image(linear-gradient(rgba(41,41,40,0.9), rgba(0,0,0,0.9)));
  @include box-shadow(inset 0 0 10px rgba(255,255,255,0.5), 0 1px 2px rgba(0,0,0,0.35));
  @include border-radius(50%);
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  margin: 0 auto 30px;
  line-height: inherit;
  span { 
    display: block;
    font-family: $sans-serif;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    &.label { 
      font-size: 12px;
      margin-top: 27px;
    }
    &.value { font-size: 36px; }
  }
}

.intro {
  padding-top: 100px;
  .parenteau {
    @include background-size(130px);
    @include border-radius(50%);
    @include box-shadow(inset 3px 3px 10px rgba(255,255,255,0.75), 1px 1px 6px rgba(0,0,0,0.75));
    border: 1px solid #333;
    overflow: hidden;
    text-indent: -100%;
    width: 120px;
    height: 120px;
    background: url(https://twimg0-a.akamaihd.net/profile_images/2167429710/michael.png) -8px top no-repeat;
    display: block;
    margin: 10px auto 0;
  }
  p.name {
    @include background-image(linear-gradient(rgba(41,41,40,0.9), rgba(0,0,0,0.9)));
    @include box-shadow(inset 0 1px 1px rgba(255,255,255,0.1), 0 1px 2px rgba(0,0,0,0.35));
    @include border-radius(4px);
    border: 1px solid #000;
    padding: 5px;
    margin: 0 auto;
    font-family: $sans-serif;
    font-size: 13px;
    width: 130px;
    text-align: center;
    color: #fff;
    margin-top: 15px;
  }
  blockquote {
    @include box-styles;
    @include section-tip($border-tip: true);
    margin: 30px 0;
    position: relative;
  }
  .flight-info {
    @include background-size(auto);
    height: 350px;
    background: #fff url(/images/flight-map.jpg) center center no-repeat;
    p {
      background: url(/images/smile.png) 0 0 no-repeat;
      font-family: $sans-serif;
      font-size: 14px;
      font-style: italic;
      line-height: 18px;
      padding-left: 25px;
      color: #999;
      margin: 250px 20px 0 25px;
    }
  }
}

.avatar {
  @include inline-block;
  @include border-radius(50%);
  @include background-size(100%);
  width: 80px;
  height: 80px;
  margin: 0 5px 10px 0;
  background-position: 0 0;
  background-repeat: no-repeat;
  position: relative;
  &.brdrck     { background-image: url(https://twimg0-a.akamaihd.net/profile_images/2326112273/picswitch-brdrck-sJC7Ax.png); }
  &.manolosavi { background-image: url(https://twimg0-a.akamaihd.net/profile_images/1292064532/square.png); }
  &.manolosavi { background-image: url(https://twimg0-a.akamaihd.net/profile_images/1292064532/square.png); }
  &.joshuarudd { background-image: url(https://twimg0-a.akamaihd.net/profile_images/1160399946/joshua_crop.jpg); }
  &.chadbercea { background-image: url(https://twimg0-a.akamaihd.net/profile_images/2398490084/wnciugrzwe58kxgu0rc7.jpeg); }
  &.cypriss {
    @include background-size(150%);
    background: url(https://twimg0-a.akamaihd.net/profile_images/1214777950/jonathan_640.jpg) center top no-repeat;
  }
  &.rnorgan { background-image: url(https://twimg0-a.akamaihd.net/profile_images/2302468473/sd8dp2qkqdwb26c82xlr.jpeg); }
  &.brianbenitez { background-image: url(https://twimg0-a.akamaihd.net/profile_images/2147034720/avatar.png); }
  &.jayrobinson { background-image: url(https://twimg0-a.akamaihd.net/profile_images/2315483970/4j3c38vdqs960cdw8yq4.png); }
  &.marshallbock { background-image: url(https://twimg0-a.akamaihd.net/profile_images/1248267100/Profile.png); }
  &.juanarreguin { background-image: url(https://twimg0-a.akamaihd.net/profile_images/2301992358/image.jpg); }
  &.noracalabrese { background-image: url(http://dribbble.s3.amazonaws.com/users/16671/avatars/original/dribble.jpg?1305136420); }
  &.neighthen { background-image: url(https://twimg0-a.akamaihd.net/profile_images/1599836413/profile_small.jpg); }
  &.meyer { background-image: url(https://twimg0-a.akamaihd.net/profile_images/2318001927/dz3x1ok4mado1vl1m3ru.png); }
  &.pixeliris { background-image: url(https://twimg0-a.akamaihd.net/profile_images/2433175803/1yldek8mgj2ab079p287.png); }
  &.joncrawford { background-image: url(https://twimg0-a.akamaihd.net/profile_images/2383133547/ihfwjisde3cu283wdn6f.jpeg); }
  &.janette { background-image: url(https://twimg0-a.akamaihd.net/profile_images/1335280036/spring2011.jpg); }
  &.adamhendle { background-image: url(https://twimg0-a.akamaihd.net/profile_images/2169236472/adamleah2.jpg); }
  &.coreyr { background-image: url(https://twimg0-a.akamaihd.net/profile_images/1496921904/262915_10100287451172368_2732438_51158296_5280262_n.jpg); }
  &.thisisrobv { 
    @include background-size(120%);
    background-image: url(https://twimg0-a.akamaihd.net/profile_images/1572072322/photo.JPG);
  }
  &.ariellescott { background-image: url(https://twimg0-a.akamaihd.net/profile_images/2064402384/arielleatcomp.jpg); }
  &.baxterstrikes { background-image: url(https://twimg0-a.akamaihd.net/profile_images/2218403983/rsz_1133609337298144.jpg); }
  &.bennyfreshness { background-image: url(https://twimg0-a.akamaihd.net/profile_images/1899353185/headshot.jpg); }
  &.chriseppstein { 
    @include background-size(115%);
    background-position: right 0;
    background-image: url(https://twimg0-a.akamaihd.net/profile_images/1157553493/DSCN1412.jpg); 
  }
  &.ped { background-image: url(https://twimg0-a.akamaihd.net/profile_images/55715463/eu-ms.jpg); }
  &.hone02 { background-image: url(https://twimg0-a.akamaihd.net/profile_images/2189439501/terence.jpg); }
  &.seaofclouds { background-image: url(https://twimg0-a.akamaihd.net/profile_images/20609372/birdie-icon.png); }
  &.nrrrdcore { background-image: url(https://twimg0-a.akamaihd.net/profile_images/2233437415/image.jpg); }
  &.zapnap {
    @include background-size(133%);
    background-position: right 0;
    background-image: url(https://twimg0-a.akamaihd.net/profile_images/2294134316/b2j58mqsubr3svlxbakn.jpeg); 
  }
  &.jsncostello { background-image: url(https://twimg0-a.akamaihd.net/profile_images/1352411554/JC.png); }
  &.jasonlong { background-image: url(https://twimg0-a.akamaihd.net/profile_images/1409429799/jason_summer.jpg); }
  &.rsanheim { background-image: url(https://twimg0-a.akamaihd.net/profile_images/2099222922/rob-jruby-shirt.jpeg); }
}
.avatar.manolosavi .avatar-tip {margin-left: 5px;}
.avatar.cypriss .avatar-tip {margin-left: -7px;}
.avatar.rnorgan .avatar-tip {margin-left: -26px;}
.avatar.neighthen .avatar-tip {margin-left: -5px;}
.avatar.meyer .avatar-tip {margin-left: 5px;}
.avatar.pixeliris .avatar-tip {margin-left: 10px;}
.avatar.janette .avatar-tip {margin-left: -9px;}
.avatar.thisisrobv .avatar-tip {margin-left: 20px;}
.avatar.chriseppstein .avatar-tip {margin-left: -3px;}
.avatar.ped .avatar-tip {margin-left: 7px;}
.avatar.seaofclouds .avatar-tip {margin-left: -3px;}
.avatar.nrrrdcore .avatar-tip {margin-left: -15px;}
.avatar.zapnap .avatar-tip {margin-left: 5px;}

.avatar-tip {
  @include inline-block;
  @include background-image(linear-gradient(rgba(41,41,40,0.9), rgba(0,0,0,0.9)));
  @include box-shadow(inset 0 1px 1px rgba(255,255,255,0.1), 0 1px 2px rgba(0,0,0,0.35));
  @include border-radius(4px);
  border: 1px solid #000;
  padding: 3px;
  font-family: $sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #fff;
  position: absolute;
  top: 15px;
  z-index: 5;
  white-space: nowrap;
  opacity: 0;
  &:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px;
    border-color: #000 transparent transparent;
    position: absolute;
    display: block;
    bottom: -10px;
    left: 50%;
    margin-left: -5px;
  }
}

@media screen and (max-width: 600px) {
  blockquote {
    font-size: 18px;
    line-height: 24px;
  }
  .intro blockquote {
    padding: 20px;
  }
  article {
    width: 100%;
    margin: 0 auto 50px;
  }
  section {
    padding: 20px;
    header {
      height: auto;
      font-size: 12px;
      line-height: 18px;
      padding: 10px;
    }
    &.day {
      @include background-size(150%);
      &.one { background: #fff url(/images/maps/day-1.jpg) center 0 no-repeat; }
      &.two { background: #fff url(/images/maps/day-2.jpg) center 0 no-repeat; }
      &.three { background: #fff url(/images/maps/day-3.jpg) center 0 no-repeat; }
      &.four { background: #fff url(/images/maps/day-4.jpg) center 0 no-repeat; }
      &.five { background: #fff url(/images/maps/day-5.jpg) center 0 no-repeat; }
      &.six { background: #fff url(/images/maps/day-6.jpg) center 0 no-repeat; }
      img {
        width: 80px;
      }
    }
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  html {
    background: #ebebeb;
  }
  .mobile-bkg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: url(/images/golden-gate.jpg) no-repeat fixed center top;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px), only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
  html {
    background: #ebebeb;
  }
  .mobile-bkg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: url(/images/golden-gate.jpg) no-repeat fixed center top;
  }
  section {
    header {
      font-size: 8px;
      line-height: 10px;
    }
    &.day {
//      @include background-size(150%);
      &.one {
        background: #fff url(/images/maps/day-1.jpg) center 0 no-repeat;
        padding-top: 170px;
      }
      &.two {
        @include background-size(150%);
        background: #fff url(/images/maps/day-2.jpg) center 30px no-repeat;
        .date { top: 70px; }
      }
      &.three {
        @include background-size(150%);
        background: #fff url(/images/maps/day-3.jpg) center 30px no-repeat; 
        .date { top: 70px; }
      }
      &.four { 
        @include background-size(150%);
        background: #fff url(/images/maps/day-4.jpg) center 30px no-repeat; 
        .date { top: 70px; }
      }
      &.five { 
        @include background-size(150%);
        background: #fff url(/images/maps/day-5.jpg) center 30px no-repeat; 
        .date { top: 70px; }
      }
      &.six { 
        @include background-size(150%);
        background: #fff url(/images/maps/day-6.jpg) center 30px no-repeat; 
        .date { top: 70px; }
      }
      img {
        width: 80px;
      }
    }
  }
  h2.day {
    width: 80px;
    height: 80px;
    span {
      &.label { margin-top: 18px; }
    }
  }
  .date {
    position: absolute;
    top: 50px;
    left: 10px;
  }
}