%article.intro
  = link_to "Twitter: @parenteau", "http://twitter.com/parenteau", :class => "parenteau"
  %p.name Michael Parenteau
  %blockquote
    "I wanted to do something different than a conference. I wanted to meet people in their worlds, see what they were up to, share what I've been up to &amp; maybe even collaborate with them."