%article.intro
  = link_to "Twitter: @parenteau", "http://twitter.com/parenteau", :class => "parenteau"
  %p.name Michael Parenteau
  %blockquote
    "I wanted to do something different than a conference. I wanted to meet people in their worlds, see what they were up to, share what I've been up to &amp; maybe even collaborate with them."

  %section.flight-info
    %header Flight: Raleigh, NC - Las Vegas, NV - San Francisco, CA
    = partial(:'partials/date', :locals => {:day => "16"})
    %p I lost $7 on some slot machines and was yelled at by an airport woman for trying to get a photo of my kid sitting at one.